.calc-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a{
  color: black;
  text-decoration: none;
}

.calc-wrapper{
  background-color: black;
  flex-basis: 400px;
  height: 580px;
  padding: 20px 35px;
}

.calc-screen{
  background-color: gray;
  color: white;
  font-size: 35px;
  text-align: right;
  padding-top: 60px;
  /* padding-bottom: 5px; */
  padding-left: 20px;
  padding-right: 15px;
  overflow: auto;
  position: relative;
}

.calc-history-screen{
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: auto;
  overflow-y: auto; 
  direction: rtl;
  padding: 10px;
  box-sizing: border-box;
  font-size: 24px;
}

.calc-history-res{
  direction: ltr;
}

.calc-button-row{
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calc-button-row:last-child .calc-button{
  border-radius: 100px;
}

.calc-button{
  flex-basis: 20%;
  font-size: 24px;
  font-family: inherit;
  height: 65px;
  border-radius: 50%;
  border: none;
}

.calc-button:last-child{
  background-color: orange;
}

.calc-button:hover{
  opacity: 80%;
}

.double{
  flex-basis: 47%;
}

.support-btn{
  background-color: chocolate;
}
